.App {
    width: 100%;
    min-height: 100vh;
    background-image: url("/daniel-mirlea-kPyN4psB90I-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff9;
    padding: 2.5em  1.5em;
    border-radius: 0.7em;
    width: 100%;
    max-width: 400px;

}

.card__title {
    text-align: center;
    font-size: 1.8em;
}

.card__subtitle {
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 1em;
    text-align: center;
}

.card__body {
    display: grid;
    grid-template-columns: 3fr 4fr;
    align-items: center ;
    gap: 0.5em;
    margin-bottom: 1em;
}

.card__info-title {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0.8em;
    text-transform: capitalize;
    font-weight: 600;
}

.card__info-body {
    display: grid;
    gap: 0.5em;
}

.card__info-item {
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-weight: 600;
}

.card__info-text {
    font-weight: 400;
}

.card__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__tem {
    margin-bottom: 0.7em;
}

.card__btn {
    font-size: 0.9rem;
    padding: 0.7em 1.5em;
    border-radius: 0.4em;
    box-shadow: 0.2em 0.2em 0.7em #1A0000;
    filter: brightness(0.95);
    transition: filter 100ms ease , transform 100ms ease;
}

.card__btn:hover {
    filter: brightness(1);
    transform: scale(1.05);
}
